* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.intranet-page {
  color: black;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

body {
  overflow-x: hidden;
  overscroll-behavior-x: none;
  touch-action: pan-y;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #000000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  width: 100%;
  background: inherit;
  transition: background-color 0.3s ease-in-out;
}

.translucent {
  background: rgba(0, 0, 0, 0.5) !important;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  margin-inline: 15px;
}
a:hover {
  opacity: 0.7;
}
.logo {
  width: 290px;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  margin-left: 20px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 6px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
#btnTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #000000;
  color: white;
  border: solid 1px white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 2000;
}
#btnTop.show {
  opacity: 1;
  visibility: visible;
}
.bannerHome {
  background-image: url(/intranet/images/homeintranet.png);
  background-size: cover;
  margin-bottom: 80px;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.description {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.values-container {
  display: flex;
  justify-content: center;
}

.mission {
  flex: 1;
  padding-right: 15px;
}

.vision {
  flex: 1;

  border-left: solid #00000050;
  border-right: solid #00000050;
  padding-inline: 30px;
  padding-bottom: 20px;
}

.values {
  flex: 1;
  padding-left: 15px;
}

.Alert {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.Alert > h1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 30px;
}
.Alert > h1:hover {
  text-decoration: underline;
  transition: transform 0.2s ease-out;
  cursor: pointer;
}

.Alert-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}
.Alert-box-1 {
  width: 360px;
  height: 360px;
  background-image: url(/intranet/images/espresso.jpg);
  transition: transform 0.2s ease-in-out;
  background-size: cover;
  border: #000 solid;

  border-radius: 20px;
}
.Alert-box-1:hover {
  transform: scale(1.02);
}
.Alert-box-2 {
  width: 360px;
  height: 360px;
  background-image: url(/intranet/images/topss.jpg);
  background-size: cover;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
  border: #000 solid;
}
.Alert-box-2:hover {
  transform: scale(1.02);
}
.Alert-box-3 {
  width: 360px;
  height: 360px;
  background-image: url(/intranet/images/topss.jpg);
  background-size: cover;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
  border: #000 solid;
}
.Alert-box-3:hover {
  transform: scale(1.02);
}
.bannerVagas {
  margin-top: 100px;
  padding: 130px;
  background-image: url(/intranet/images/AKRUS1920x420-banner-vagas-80.jpg);
  background-size: cover;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.bannerVagas:hover {
  transform: scale(1.01);
}

.news {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
}
.news h1 a {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 0 0 30px 0;
}
.news h1 a:hover {
  text-decoration: underline;
}
.news-container {
  display: flex;
  gap: 20px;
}
.news-box {
  width: 65%;
  padding: 200px;
  background-color: bisque;
  background-size: cover;
  background-image: url(/intranet/images/thallison.jpg);
  background-position: center;
}
.news-text {
  width: 30%;
}
.news-text h2 a {
  margin-bottom: 10px;
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.news-text h2 a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.multisections {
  background-color: #f9f9f9;
}

.multisections-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.multisections-container a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out;
}
.multisections-container a:hover {
  text-decoration: none;
}

.multisections-box {
  width: 300px;
  height: 400px;
  background-color: #fff;
  position: relative;
  transform: translateY(-45%);
  z-index: 10;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.multisections-box :hover {
  transform: scale(1.01);
}
.multisections-box > .img-cursos {
  height: 100%;
  background-image: url(/intranet/images/AKRUS400x520-icones-home-cursos-80.jpg);
  background-position: 0%;
  background-size: cover;
  border-radius: 20px;
}
.multisections-box > .img-Podcast {
  height: 100%;
  background-image: url(/intranet/images/AKRUS400x520-icones-home-podcasts-80.jpg);
  background-position: 0%;
  background-size: cover;
  border-radius: 20px;
}
.multisections-box > .img-Biblioteca {
  height: 100%;
  background-image: url(/intranet/images/Biblioteca.png);
  background-position: 0%;
  background-size: cover;
  border-radius: 20px;
}
.multisections-box > .img-iluminakrus {
  height: 100%;
  background-image: url(/intranet/images/iluminakrus.png);
  background-position: 0%;
  background-size: cover;
  border-radius: 20px;
}
.multisections-box > h1 {
  text-align: center;
  padding-bottom: 15px;
}

.multisections-box > h1:hover {
  text-decoration: underline;
  border: none;
}
.dates {
  padding: 70px;
}
.dates-container {
  max-width: 1200px;
  margin: 0 auto;
}
.dates-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.section-comemorativas h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}
.section-aniversariantes h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}
.dates-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 205px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.date-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.date-item:hover {
  transform: scale(1.03);
}
.date-item p {
  margin: 0;
}
.name {
  font-weight: bold;
  color: #555;
}
.date {
  color: #777;
}
.calendario {
  display: flex;
  width: 200px;
  border-radius: 25px;
  height: 50%;
}
.calendario > img {
  width: 100%;
  border-radius: 25px;
}
.empresas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
}

.empresa-box {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.empresa-box > a > img {
  max-width: 80%;
  margin: 0 auto;
}
.empresa-box > a > img:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.logo-Akrus {
  padding-top: 15px;
}
.logo-Saframix {
  padding-top: 20px;
}
.empresa-box p {
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
  padding-top: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}
.social-icons a {
  text-decoration: none;
  color: inherit;
}
.social-icons i {
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-icons i:hover {
  transform: scale(1.1);
}
.fotos {
  padding: 20px;
  background-color: #f9f9f9;
  padding-bottom: 100px;
}

.fotos-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.fotos-container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.media-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.media-item:hover {
  transform: scale(1.05);
}

.media-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.footer {
  display: flex;
  background-color: #181818;
  height: 6rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#logofooter {
  height: 35px;
  padding-left: 30px;
}

#empresas {
  height: 55px;
  padding-right: 80px;
}

@media (max-width: 1024px) {
  .empresas-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }
  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background: #1d1c1c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 900;
    padding-bottom: 80vw;
    padding-top: 20vw;
  }

  .nav-list.active {
    transform: translateX(0);
    gap: 40px;
  }
  .nav-list.active > li > a {
    margin-inline: 0px;
  }
  .mobile-menu {
    display: block;
    z-index: 1001;
  }
  .logo {
    width: 170px;
  }

  .description {
    margin-bottom: 40px;
  }
  .values-container {
    flex-direction: column;
    gap: 20px;
  }
  .values {
    border-bottom: #00000050 solid;
    padding-bottom: 40px;
  }
  .vision {
    border-left: none;
    border-right: none;

    padding-top: 20px;
  }
  .Alert > h1 {
    text-align: center;
  }

  .Alert-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .Alert-box-1 {
    width: 315px;
    height: 315px;
  }

  .Alert-box-2 {
    width: 315px;
    height: 315px;
  }

  .Alert-box-3 {
    width: 315px;
    height: 315px;
  }
  .bannerVagas {
    margin-top: 60px;
    padding: 100px;
    margin-bottom: 40px;
    margin-inline: 10px;
  }

  .news {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
  }
  .news > h1 {
    margin-bottom: 10px;
    text-align: center;
  }
  .news-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .news-box {
    width: 100%;
    margin-inline: 10px;
    padding: 100px;
  }
  .news-text {
    width: 100%;
  }
  .news-text > h2 {
    font-size: 1rem;
  }
  .news-text > p {
    font-size: 0.8rem;
  }

  .multisections-box {
    transform: none;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    transition: transform 0.2s ease-in-out;
    background-color: #f9f9f9;
  }

  .multisections-box:hover {
    transform: scale(1.02);
  }

  .multisections-container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .multisections-box > .img-cursos {
    height: 120px;
    background-position: center;
    border-radius: 10px;
    background-image: url(/intranet/images/AKRUS450x150-icones-home-cursos-80.jpg);
  }
  .multisections-box > .img-Podcast {
    height: 120px;
    background-position: center;
    border-radius: 10px;
    background-image: url(/intranet/images/AKRUS450x150-icones-home-podcastas-80.jpg);
  }
  .multisections-box > .img-Biblioteca {
    height: 120px;
    background-position: center;
    border-radius: 10px;
    background-image: url(/intranet/images/bibliotecamobile.png);
  }
  .multisections-box > .img-iluminakrus {
    height: 120px;
    background-position: center;
    border-radius: 10px;
    background-image: url(/intranet/images/Iluminakrusmobile.png);
  }

  .multisections-box > h1 {
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: center;
  }

  .multisections-box > h1:hover {
    text-decoration: underline;
  }
  .dates {
    padding: 20px;
  }
  .dates-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .dates-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    gap: 50px;
    align-items: center;
  }
  .section h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  .dates-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 205px;
    overflow-y: scroll;
  }
  .date-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  .date-item:hover {
    transform: scale(1.03);
  }
  .date-item p {
    margin: 0;
  }
  .name {
    font-weight: bold;
    color: #555;
  }
  .date {
    color: #777;
  }
  .calendario {
    display: flex;
    width: 200px;
    border-radius: 25px;
    height: 50%;
  }
  .calendario > img {
    width: 100%;
    border-radius: 25px;
  }
  .fotos {
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .bannerHome {
    margin-bottom: 60px;
    width: 100%;
    height: 270px;
    overflow: hidden;
    background-image: url(/intranet/images/BannerMobile.png);
    background-position: 0%;
    background-size: cover;
  }

  .empresas-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  #logofooter {
    padding: 5px;
    margin: 5px 0;
  }
  #empresas {
    height: 30px;
    padding-right: 0px;
  }
}

@media (max-width: 480px) {
  .values-container {
    flex-direction: column;
    gap: 30px;
    margin-inline: 25px;
    display: flex;
    justify-content: center;
  }
  .values {
    border-bottom: #00000050 solid;
    padding-bottom: 40px;
    padding-left: 0px;
    text-align: start;
  }

  .vision {
    border-left: none;
    border-right: none;
    text-align: start;
    padding-top: 20px;
    padding-inline: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .description {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .mission {
    padding-right: 0px;
    text-align: start;
  }
}
