/* Estilos gerais para todos os elementos */
* {
  margin: 0; /* Remove a margem padrão de todos os elementos */
  padding: 0; /* Remove o preenchimento padrão de todos os elementos */
  box-sizing: border-box; /* Inclui padding e bordas na largura e altura total do elemento */
  font-family: "Inter", sans-serif; /* Define a fonte padrão para todos os elementos */
}

/* Estilos para o corpo da página */
body {
  /* background-image: url(../assets/images/Preview_2.jpg);  Define uma imagem de fundo 
    background-size: cover;  Faz com que a imagem de fundo cubra toda a área do corpo */
  background-color: #e7e7e7; /* Define uma cor de fundo alternativa */
  overflow-x: hidden; /* Impede a rolagem horizontal */
  font-family: "Cairo", sans-serif; /* Aplica a fonte importada ao corpo */
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  touch-action: pan-y;
}

/* Estilos para o cabeçalho */

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #1d1c1c;
  transition: background-color 0.3s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  width: 100%;
  background: inherit;
  transition: background-color 0.3s ease-in-out;
}

.translucent {
  background: rgba(0, 0, 0, 0.5) !important;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  margin-inline: 15px;
}
a:hover {
  opacity: 0.7;
}
.logo {
  width: 290px;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  margin-left: 20px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 6px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
/* Estilo para a seção do banner */
.banner {
  width: 100%; /* Define a largura do banner como 100% do contêiner pai */
  height: 24vh; /* Define a altura do banner como 24% da altura da viewport */
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites do banner */
}

/* Estilo para a imagem dentro do banner */
.banner img {
  width: 100%; /* Define a largura da imagem como 100% do contêiner do banner */
  height: 300px; /* Define a altura da imagem como 100% do contêiner do banner */
  object-fit: cover; /* Faz com que a imagem cubra o contêiner, mantendo a proporção */
}

/* Estilo para a seção de biblioteca virtual */
.podcast-virtual {
  text-align: center; /* Centraliza o texto dentro da seção */
  padding: 20px; /* Adiciona preenchimento interno de 20px ao redor da seção */
}

/* Define a cor de fundo da página */
body {
  background-color: #f7f7f7;
  font-family: "Cairo", sans-serif; /* Define a fonte globalmente */
}

/* Estiliza o título principal */
.title {
  text-align: center; /* Alinha o texto ao centro */
  color: #fff; /* Define a cor do texto como branco */
  display: flex; /* Usa layout flexível */
  flex-direction: column; /* Direciona os itens em coluna */
  align-items: center; /* Alinha os itens ao centro */
  justify-content: center; /* Justifica os itens ao centro */
  height: 100vh; /* Define a altura como 100% da altura da tela */
  letter-spacing: 1px; /* Define o espaçamento entre letras */
  line-height: 2; /* Define a altura da linha */
}

.podcast-virtual .podcasts-title {
  margin-top: 25px; /* Define a margem superior. Foi ajustado pra quando o hambúrguer for acionado, não fique em cima do título. */
}

/* Estiliza os títulos das seções 'biblioteca' e 'podcasts' */
.podcasts-title {
  text-transform: uppercase; /* Transforma o texto para maiúsculas */
  letter-spacing: 0.5em; /* Define o espaçamento entre letras */
  display: inline-block; /* Define a exibição como bloco inline */

  padding: 1.2em 0; /* Define o preenchimento superior e inferior */
  position: relative; /* Define a posição como relativa */
  width: 100%; /* Define a largura como 100% */
  text-align: center; /* Alinha o texto ao centro */
  font: 400 1em/1 "Neuton", sans-serif; /* Define a fonte e o peso */
  color: rgb(0, 0, 0); /* Define a cor do texto */
}

/* Estiliza o texto dentro dos títulos 'biblioteca' e 'podcasts' */
.podcasts-title span {
  font: 550 1.05em/1 "Oswald", sans-serif; /* Define a fonte e o peso */
  letter-spacing: 0; /* Define o espaçamento entre letras */
  padding: 0.25em 0 0.325em; /* Define o preenchimento superior e inferior */
  display: block; /* Exibe como bloco */
  margin: 0 auto; /* Define margem automática */
  text-shadow: 0 0 80px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
}

/* Define a animação de movimento de fundo */
@keyframes aitf {
  0% {
    background-position: 0% 50%; /* Posição inicial do fundo */
  }
  100% {
    background-position: 100% 50%; /* Posição final do fundo */
  }
}

/* Estiliza o botão de modo branco */
.white-mode {
  text-decoration: none; /* Remove sublinhado */
  padding: 7px 10px; /* Define o preenchimento */
  background-color: #122; /* Define a cor de fundo */
  border-radius: 3px; /* Define o raio da borda */
  color: #fff; /* Define a cor do texto */
  transition: 0.35s ease-in-out; /* Define a transição */
  position: absolute; /* Define a posição como absoluta */
  left: 15px; /* Define a posição à esquerda */
  bottom: 15px; /* Define a posição inferior */
  font-family: "Montserrat"; /* Define a fonte */
}

/* Estiliza o botão ao passar o mouse */
.white-mode:hover {
  background-color: #fff; /* Altera a cor de fundo ao passar o mouse */
  color: #122; /* Altera a cor do texto ao passar o mouse */
}

/* Estiliza a descrição da biblioteca */
.podcasts-description {
  font-size: 1.2em; /* Define o tamanho da fonte */
  color: #000000; /* Define a cor do texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao texto */
}

/* Estiliza a seção de livros */
.podcasts-section {
  text-align: center; /* Alinha o texto ao centro */
  padding: 20px; /* Define o preenchimento */
}

/* Estiliza o título da seção de livros */
.podcasts-title {
  font-size: 2em; /* Define o tamanho da fonte */
  margin-bottom: 10px; /* Define a margem inferior */
  color: #000000; /* Define a cor do texto */
}

/* Define a animação de desvanecimento */
@keyframes fadeIn {
  from {
    opacity: 0; /* Posição inicial da opacidade */
  }
  to {
    opacity: 1; /* Posição final da opacidade */
  }
}

/* Define a animação de desvanecimento */
@keyframes fadeOut {
  from {
    opacity: 1; /* Posição inicial da opacidade */
  }
  to {
    opacity: 0; /* Posição final da opacidade */
  }
}

/* Estiliza o cartão de livro que aparece */
.podcast-card {
  display: none; /* Define o estado inicial como não exibido */
  position: fixed; /* Define a posição como fixa */
  top: 50%; /* Posiciona no centro vertical */
  left: 50%; /* Posiciona no centro horizontal */
  transform: translate(-50%, -50%); /* Centraliza o modal */
  width: 300px; /* Define a largura */
  background-color: white; /* Define a cor de fundo */
  border: 1px solid #ccc; /* Define a borda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
  z-index: 1000; /* Define o índice z */
  padding: 20px; /* Define o preenchimento */
  border-radius: 8px; /* Define o raio da borda */
  opacity: 1; /* Define a opacidade */
  transition: opacity 0.6s ease; /* Define a transição de opacidade */
}

/* Estiliza a imagem dentro do cartão de livro */
.podcast-card img {
  max-width: 100%; /* Define a largura máxima */
  height: auto; /* Define a altura como automática */
  margin: 10px 0; /* Define a margem superior e inferior */
}

/* Estiliza o cartão de livro quando visível */
.podcast-card.show {
  display: block; /* Exibe o cartão */
  animation: fadeIn 0.6s forwards; /* Aplica animação de entrada */
}

/* Estiliza o cartão de livro quando invisível */
.podcast-card.hide {
  animation: fadeOut 0.6s forwards; /* Aplica animação de saída */
}

/* Estiliza o contêiner de livros */
.podcast-container {
  display: flex; /* Usa layout flexível */
  flex-wrap: wrap; /* Permite quebra de linha */
  gap: 10px; /* Define o espaçamento entre os itens */
  justify-content: center; /* Centraliza os itens */
}

/* Estiliza as imagens dentro do contêiner de livros */
.podcast-container img {
  width: 200px; /* Define a largura */
  margin: 10px; /* Define a margem */
  cursor: pointer; /* Define o cursor como ponteiro */
  border: 1px solid rgba(230, 230, 230, 0.8); /* Define a borda */
  border-radius: 15px; /* Define o raio da borda */
  transition: transform 0.5s, border-color 0.3s; /* Define a transição */
}

/* Estiliza a imagem ao passar o mouse */
.podcast-container img:hover {
  transform: scale(1.05); /* Aumenta o tamanho */
  border-color: #000000; /* Altera a cor da borda */
}

/* Estiliza a seção de podcasts */
.podcasts-section {
  top: 0; /* Define a posição superior */
  z-index: 1; /* Define a ordem de empilhamento */
  padding: 20px; /* Define o preenchimento */
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
}

/* Estiliza o título da seção de podcasts */
.podcasts-title {
  text-align: center; /* Alinha o texto ao centro */
  margin-bottom: 20px; /* Define a margem inferior */
}

/* Estiliza o contêiner de podcasts */
.podcasts-container {
  display: flex; /* Usa layout flexível */
  flex-wrap: wrap; /* Permite quebra de linha */
  justify-content: center; /* Centraliza os itens */
  gap: 20px; /* Define o espaçamento entre os itens */
}

/* Estiliza os itens de podcast */
.podcast-item {
  width: calc(20% - 20px); /* Calcula a largura */
  margin: 1px; /* Define a margem */
  transition: transform 0.4s, box-shadow 0.3s; /* Define a transição */
  max-width: 230px; /* Define a largura máxima */
}

/* Estiliza a imagem dentro dos itens de podcast */
.podcast-item img {
  width: 230px; /* Define a largura */
  height: 100%; /* Define a altura */
  border-radius: 15px; /* Define o raio da borda */
}

/* Estiliza os itens de podcast ao passar o mouse */
.podcast-item:hover {
  transform: scale(1.04); /* Aumenta o tamanho */
  box-shadow: none; /* Remove a sombra */
}

/*Seção para as linhas que vão separar os podcasts*/
.podcast-item {
  position: relative;
  padding-right: 15px; /* Espaçamento para a linha */
}

.podcast-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 25%; /*Define a distância do topo*/
  right: -15px; /*Alinha a linha à direita do item*/
  height: 40%; /*Ajusta a altura da linha*/
  width: 2px; /*Ajusta a expessura da linha*/
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Cor da linha (pode ajustar a opacidade) */
}

/* Ajusta as imagens para telas menores */
@media (max-width: 768px) {
  .podcast-container img {
    width: 150px; /* Define a largura para telas menores */
  }
}

@media (max-width: 480px) {
  .podcast-container img {
    width: 100px; /* Define a largura para telas muito menores */
  }
}

/* Ajusta os itens de podcast para telas menores */
@media (max-width: 768px) {
  .podcast-item {
    width: 220px; /* Define a largura para telas menores */
  }
}

@media (max-width: 480px) {
  .podcast-item {
    width: calc(100% - 10px); /* Define a largura para telas muito menores */
  }
}

/* Estiliza o rodapé */
.footer {
  display: flex; /* Usa layout flexível */
  background-color: #181818; /* Define a cor de fundo */
  height: 6rem; /* Define a altura */
  width: 100%; /* Define a largura */
  justify-content: space-between; /* Espaça os itens */
  align-items: center; /* Alinha os itens ao centro */
}

/* Estiliza o logo do rodapé */
#logofooter {
  height: 52px; /* Define a altura */
  padding-left: 30px; /* Define o preenchimento à esquerda */
}

/* Estiliza a seção de empresas no rodapé */
#empresas {
  height: 30px; /* Define a altura */
  padding-right: 30px; /* Define o preenchimento à direita */
}

/* Ajusta o logo para telas menores */
@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background: #1d1c1c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 900;
    padding-bottom: 80vw;
    padding-top: 20vw;
  }

  .nav-list.active {
    transform: translateX(0);
  }
  .nav-list.active > li > a {
    margin-inline: 0px;
  }
  .mobile-menu {
    display: block;
    z-index: 1001;
  }
  .logo {
    width: 170px;
  }
  /* Remove a linha central */
  .podcast-item::after {
    display: none;
  }

  /* Linha central apenas entre colunas (opcional) 
  .podcasts-container::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 10%;
      bottom: 10%;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.4);
      transform: translateX(-10px); /* Ajuste fino 
    }*/
}

/* Ajusta a altura do banner para telas muito pequenas */
@media (max-width: 767px) {
  .banner {
    width: 100%; /* Define a largura do banner como 100% do contêiner pai */
    height: 17vh; /* Define a altura do banner como 24% da altura da viewport */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites do banner */
  }

  .banner img {
    width: 100%;
    height: 150px;
    object-fit: fill; /* Ajusta a imagem para cobrir o elemento, mas sem cortar.
    O object-fit em modo cover estava cortando alguns banners. */
  }
}

/* Ajusta a altura do banner para telas pequenas */
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    height: 100px; /* Define a altura */
  }

  .banner img {
    object-fit: cover; /* Ajusta a imagem para cobrir o elemento */
  }
  .nav-list.active {
    transform: translateX(0);
    gap: 40px;
  }
}

/* Ajusta o rodapé para telas menores */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  #logofooter {
    padding: 5px;
    margin: 5px 0;
  }
  #empresas {
    height: 30px;
    padding-right: 0px;
  }
}
