/* Estilos gerais para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Estilos para o corpo da página */
body {
  background-color: #e7e7e7;
  overflow-x: hidden;
  font-family: "Cairo", sans-serif;
  width: 100%;
  overscroll-behavior-x: none;
  touch-action: pan-y;
}

/* Estilos para o cabeçalho */
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #1d1c1c;
  transition: background-color 0.3s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  width: 100%;
  background: inherit;
  transition: background-color 0.3s ease-in-out;
}

.translucent {
  background: rgba(0, 0, 0, 0.5) !important;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  margin-inline: 15px;
}
#podcastLink{
  color: #000000;
}

a:hover {
  opacity: 0.7;
}

.logo {
  width: 290px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 20px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 6px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Estilo para a seção do banner */
.banner {
  width: 100%;
  height: 26vh;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Estilo para a seção de podcasts */
.podcast-virtual {
  text-align: center;
  padding: 20px;
}

.podcast-virtual .podcasts-title {
  margin-top: 25px;
}

.title {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height: 2;
}

.podcasts-title {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  padding: 1.2em 0;
  position: relative;
  width: 100%;
  text-align: center;
  font: 400 1em/1 "Neuton", sans-serif;
  color: rgb(0, 0, 0);
}

.podcasts-title span {
  font: 550 1.05em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #fff;
  transition: 0.35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #fff;
  color: #122;
}

.podcasts-description {
  font-size: 1.2em;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.podcasts-section {
  text-align: center;
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.podcast-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  border-radius: 8px;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.podcast-card img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.podcast-card.show {
  display: block;
  animation: fadeIn 0.6s forwards;
}

.podcast-card.hide {
  animation: fadeOut 0.6s forwards;
}

.podcast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.podcast-container img {
  width: 200px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid rgba(230, 230, 230, 0.8);
  border-radius: 15px;
  transition: transform 0.5s, border-color 0.3s;
}

.podcast-container img:hover {
  transform: scale(1.05);
  border-color: #000000;
}

.podcasts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.podcast-item {
  width: calc(20% - 20px);
  margin: 1px;
  transition: transform 0.4s, box-shadow 0.3s;
  max-width: 230px;
  position: relative;
  padding-right: 15px;
}

.podcast-item img {
  width: 230px;
  height: 100%;
  border-radius: 15px;
}

.podcast-item:hover {
  transform: scale(1.04);
  box-shadow: none;
}

/* Linha de separação entre os cards. Não aparece no celular
.podcast-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 25%;
  right: -15px;
  height: 40%;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
*/
.footer {
  display: flex;
  background-color: #181818;
  height: 6rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#logofooter {
  height: 52px;
  padding-left: 30px;
}

#empresas {
  height: 55px;
  padding-right: 75px;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background: #1d1c1c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 900;
    padding-bottom: 80vw;
    padding-top: 20vw;
  }

  .nav-list.active {
    transform: translateX(0);
  }
  
  .nav-list.active > li > a {
    margin-inline: 0px;
  }
  
  .mobile-menu {
    display: block;
    z-index: 1001;
  }
  
  .logo {
    width: 170px;
  }
  
  .podcast-container img {
    width: 150px;
  }
  
  .podcast-item {
    width: 220px;
  }
  
  .podcast-item::after {
    display: none;
  }
  
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  #logofooter {
    padding: 5px;
    margin: 5px 0;
  }
  
  #empresas {
    height: 30px;
    padding-right: 0px;
  }
}

@media (max-width: 480px) {
  .podcast-container img {
    width: 100px;
  }
  
  .podcast-item {
    width: calc(100% - 10px);
  }
}

@media (max-width: 767px) {
  .banner {
    height: 17vh;
  }

  .banner img {
    height: 150px;
    object-fit: fill;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    height: 100px;
  }

  .banner img {
    object-fit: cover;
  }
  
  .nav-list.active {
    transform: translateX(0);
    gap: 40px;
  }
}