* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f0f0f0;
  zoom: 100%;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 40px;
  color: white;
}

.logo img {
  width: 150px; /* Tamanho da logo, pode ser ajustado conforme necessário */
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f1f1f1;
}

/* Hamburger menu (invisível por padrão em desktop) */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}
.banner {
  width: 100%;
  display: flex;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

.h2 {
  display: flex;
  padding: 40px 0 10px 0;
  color: black !important;
}
.h2 h2 {
  border-left: #181818 solid 5px;
  padding-left: 5px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  border: 1px #0000001a solid;
  background-color: white;
}

.top-row {
  display: flex;
  gap: 20px;
}

.top-box {
  flex: 1;
  border-radius: 8px;
  padding: 15px;
}

.image-box img {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  display: block;
}

.text-box {
  padding: 20px;
  border-radius: 8px;
}

.text-box h2 {
  margin-bottom: 10px;
}

.text-box p {
  color: #555;
}

.three-box-row {
  display: flex;
}

.small-box {
  flex: 1;
  padding: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.small-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.box-section {
  display: flex;

  background-color: white;
  border-radius: 8px;
}

.box {
  flex: 1 1 300px;
  padding: 20px;
  border: 1px solid #ddd;
}

.box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.box h2 {
  margin-top: 15px;
  color: #333;
}

.box p {
  color: #555;
}

.new-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  padding-bottom: 50px;
}

.new-section .box1 {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.new-section .box-row {
  display: flex;
  gap: 30px;
  padding: 0 200px 0 200px;
}

.new-section .box2,
.new-section .box3 {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.new-section .box2 img,
.new-section .box3 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

@media (max-width: 768px) {
  .top-row {
    flex-direction: column;
  }

  .three-box-row {
    flex-direction: column;
  }

  .box-section {
    flex-direction: column;
  }

  .new-section .box-row {
    flex-direction: column;
  }
}

.footer {
  display: flex;
  background-color: #181818;
  height: 6rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#logofooter {
  height: 35px;
  padding-left: 30px;
}

#empresas {
  height: 30px;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .logo img {
    max-height: 50px;
    padding-left: 20px;
    padding-bottom: 3px;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #363633;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    padding-right: 30px;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu ul li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
  }
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #logofooter,
  #empresas {
    padding: 5px;
    margin: 5px 0;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 98px; /* Ajusta a altura do banner em dispositivos móveis */
  }

  .banner img {
    object-fit: cover; /* Mantém a cobertura da imagem */
  }
}

/* Media Query para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    height: 200px; /* Ajusta a altura do banner em tablets */
  }

  .banner img {
    object-fit: cover; /* Mantém a cobertura da imagem */
  }
}
