/* Estilos gerais para todos os elementos */
* {
  margin: 0; /* Remove a margem padrão de todos os elementos */
  padding: 0; /* Remove o preenchimento padrão de todos os elementos */
  box-sizing: border-box; /* Inclui padding e bordas na largura e altura total do elemento */
  font-family: "Inter", sans-serif; /* Define a fonte padrão para todos os elementos */
}

/* Estilos para o corpo da página */
body {
  background-color: #fffafa; /* Define a cor de fundo da página */
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

/* Estilos para o cabeçalho */

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #1d1c1c;
  transition: background-color 0.3s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  width: 100%;
  background: inherit;
  transition: background-color 0.3s ease-in-out;
}

.translucent {
  background: rgba(0, 0, 0, 0.5) !important;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  margin-inline: 15px;
}
a:hover {
  opacity: 0.7;
}
.logo {
  width: 290px;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  margin-left: 20px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 6px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Estilo para a seção do banner */
.banner {
  width: 100%; /* Define a largura do banner como 100% do contêiner pai */
  height: 24vh; /* Define a altura do banner como 24% da altura da viewport */
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites do banner */
}

/* Estilo para a imagem dentro do banner */
.banner img {
  width: 100%; /* Define a largura da imagem como 100% do contêiner do banner */
  height: 270px; /* Define a altura da imagem como 100% do contêiner do banner */
  object-fit: cover; /* Faz com que a imagem cubra o contêiner, mantendo a proporção */
}

/* Estilo para a seção IluminAkrus */
.ilumin-section {
  background-image: url(/intranet/images/48982e53-ec1b-455c-84e0-c4d0be71b657.jpg); /* Define a imagem de fundo da seção */
  padding: 45px; /* Define o preenchimento interno da seção */
  margin-bottom: 15px; /* Define a margem inferior */
  margin-top: 25px;
  gap: 40px; /* Define o espaçamento entre os itens */
  display: flex; /* Usa layout flexível */
  flex-direction: column; /* Direciona os itens em coluna */
  align-items: center; /* Alinha os itens ao centro */
}

/* Estilo para o texto introdutório */
.intro-text {
  font-weight: normal; /* Define o peso da fonte */
  margin-bottom: 20px; /* Define a margem inferior */
  text-align: center; /* Alinha o texto ao centro */
}

/* Estilo para os cartões */
.card {
  background-color: white; /* Define a cor de fundo dos cartões */
  border: 1px solid #ddd; /* Define a cor e largura da borda */
  border-radius: 20px; /* Define o raio das bordas */
  padding: 20px; /* Define o preenchimento interno */
  margin-top: 20px; /* Define a margem superior */
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  width: 70%; /* Define a largura dos cartões para ser menor */
  max-width: 500px; /* Define a largura máxima dos cartões */
  text-align: center; /* Alinha o texto ao centro */
}

/* Estilo para as imagens dentro dos cartões */
.card img {
  width: 100%; /* Define a largura como 100% do contêiner pai */
  height: auto; /* Define a altura como automática */
  object-fit: cover; /* Faz com que a imagem cubra o contêiner, mantendo a proporção */
  border-radius: 15px; /* Define o raio das bordas */
}

/* Estiliza o rodapé */
.footer {
  display: flex; /* Usa layout flexível */
  background-color: #181818; /* Define a cor de fundo */
  height: 6rem; /* Define a altura */
  width: 100%; /* Define a largura */
  justify-content: space-between; /* Espaça os itens */
  align-items: center; /* Alinha os itens ao centro */
}

/* Estiliza o logo do rodapé */
#logofooter {
  height: 45px; /* Define a altura */
  padding-left: 30px; /* Define o preenchimento à esquerda */
}

/* Estiliza a seção de empresas no rodapé */
#empresas {
  height: 55px;
  padding-right: 80px;
}

/* Ajusta o logo para telas menores */
@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background: #1d1c1c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 900;
    padding-bottom: 80vw;
    padding-top: 20vw;
  }

  .nav-list.active {
    transform: translateX(0);
  }
  .nav-list.active > li > a {
    margin-inline: 0px;
  }
  .mobile-menu {
    display: block;
    z-index: 1001;
  }
  .logo {
    width: 170px;
  }
}

/* Ajusta a altura do banner para telas muito pequenas */
@media (max-width: 767px) {
  .banner {
    width: 100%; /* Define a largura do banner como 100% do contêiner pai */
    height: 17vh; /* Define a altura do banner como 24% da altura da viewport */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites do banner */
  }

  .banner img {
    width: 100%;
    height: 150px;
    object-fit: fill; /* Ajusta a imagem para cobrir o elemento, mas sem cortar.
    O object-fit em modo cover estava cortando alguns banners. */
  }
}
/*@media (max-width: 767px) {
  .banner {
    height: 90px; /* Define a altura 
  }
  .banner img {
    object-fit: cover; /* Ajusta a imagem para cobrir o elemento
    
    */
/*Estado anterior à alteração do object-fit*/

/* Ajusta o rodapé para telas menores */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  #logofooter {
    padding: 5px;
    margin: 5px 0;
  }
  #empresas {
    height: 30px;
    padding-right: 0px;
  }
}
